.addToTable {
    height: 1.5em;
    width: 1em;
}

ul.tightul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

td.redacted {
    background-color: #212529 !important;
    -webkit-touch-callout: none !important; /* iOS Safari */
    -webkit-user-select: none !important; /* Safari */
    -khtml-user-select: none !important; /* Konqueror HTML */
    -moz-user-select: none !important; /* Firefox */
    -ms-user-select: none !important; /* Internet Explorer/Edge */
    user-select: none !important; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.integer {
    width: 5em;
}

/* td.Normal {} */
.good {
    background: lightgreen;
}
.intermediate {
    background: rgb(255, 255, 157);
}
.bad {
    background: lightcoral;
}
